<a href="https://colab.research.google.com/github/19pa1a04a8/10-03-2020/blob/master/Knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables

from sklearn.neighbors import KNeighborsRegressor # for using the model
from sklearn.model_selection import train_test_split
from sklearn import metrics #To use various error functions

In [7]:
std=pd.read_csv("students_placement_data.csv")
std.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [10]:
X=std[["SSC Percentage","inter_Diploma_percentage"]]
y=std["B.Tech_percentage"] 
type(y)

pandas.core.series.Series

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
model = KNeighborsRegressor(n_neighbors=2,p=1)